$colorPrimary:white;
$colorSecondary:blue;
$colorForm:rgba(0,0,0,0.8);
$font: ubuntu;
$display: none;


//connection et inscription

#inscription , #connect-form{
    display:$display;
    position:absolute;
    background-color: $colorForm;
    top:0;
    bottom:0;
    left:0;
    right: 0;

    #close-ins{
        color:$colorPrimary;
        &:hover{
            color:red;
        }
    }
    #close-con{
        &:hover{
            color:red;
        }
    }
}

