#inscription, #connect-form {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  #inscription #close-ins, #connect-form #close-ins {
    color: white; }
    #inscription #close-ins:hover, #connect-form #close-ins:hover {
      color: red; }
  #inscription #close-con:hover, #connect-form #close-con:hover {
    color: red; }

/*# sourceMappingURL=indexStyle.css.map */
